/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


html {
  background: url("./assets/burger-friends.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Roboto', sans-serif;
  /* background: url("./assets/burger-friends.jpg") no-repeat center fixed; */
  /* background: cover;
  background-color: grey; */ */
}

.background-img {
  height: 100%;
  width: 100%;
}

article {
  background-color: rgba(225, 225, 225, .9);
}

header {
  background: #0fb9b1;
}

footer {
  background: rgba(225, 225, 225, .9);c
}
